body {
  margin: 0 0 60px 0 !important;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/bg1.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }

.addWorkout,
.addName {
  display: flex; }

.addNameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.addWorkout {
  width: 100%;
  flex-direction: column; }

.addWorkoutParent {
  display: flex;
  flex-direction: column;
  align-items: center; }

.workoutBtn {
  display: flex;
  flex-direction: column;
  text-align: center; }

.navbar {
  height: 60px;
  width: 100%;
  margin-bottom: 100px;
  background-color: #2e2e2e;
  border-bottom: 5px solid #E82D0C; }

.container-fluid {
  padding: 0 !important; }

.navbar-brand {
  padding-left: 20px; }

.container {
  width: 700px !important; }

.navbar-brand {
  color: #E2E2E2;
  font-weight: bold;
  transition: all linear 0.3s; }
  .navbar-brand:hover {
    color: #CFCFCF; }

.form-control {
  margin-right: 10px; }

.saveWorkout,
.addTraining,
.TrainingBtn,
.workoutBack,
.workoutDel,
.nextBtn,
.addExercise,
.backBtn {
  background-color: #575757 !important;
  margin-right: 10px; }

.addTraining,
.TrainingBtn {
  width: 140px;
  height: 60px;
  margin: 10px !important; }

.workoutTable {
  color: #E2E2E2; }

.addNameInput {
  background-color: #b2b2b2 !important;
  color: black !important; }

.addExercise {
  width: 150px; }

.footerMain {
  margin-top: 20px;
  color: #E2E2E2;
  background-color: #2e2e2e;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center; }
